h1{
	color : white; 
}

h2{
	color : white;
}

p{color : white;}

body{
	text-align:center;
	font-family: 'Montserrat', sans-serif;

	background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.frame {
	background:lightpink;
	border:solid 10px pink;
	border-radius:50px;
	padding:15px;
	margin:50px;
	box-shadow:10px 10px 10px magenta;
}

.frame2 {
	background:yellow;
	border:solid 10px lightyellow;
	border-radius:50px;
	padding:15px;
	margin:50px;
	box-shadow:10px 10px 10px orange;
}

.avatar {
	width:250px;
	height:250px;
	box-shadow:10px 10px 10px orange;
	border-radius:300px;
	object-fit: cover
}

.galery{
	display: flex;
	justify-content: space-around;
	aligh-items:center ;
}

.maps{
	display:flex;
	justify-content:space-around;
}

.logo{
	border-radius: 50%;
	height:100px;
	width: 100px;
	object-fit:cover;
}

.mynavbar{
	background-color:salmon;
	display:flex;
	justify-content:space-between;
}

.links{
	margin-right: 30px
}

.logo{
	margin-left:30px;
}